{
  "192.168.100.10":
    {
     "sha": "@NODE1_PKSHA@",
     "internal_ip": "192.168.100.10"
    },
  "192.168.100.11":
    {
     "sha": "@NODE2_PKSHA@",
     "internal_ip": "192.168.100.11"
    }
}