{
  "192.168.130.10":
    {
     "sha": "@NODE1_PKSHA@",
     "internal_ip": "192.168.130.10"
    },
  "192.168.130.11":
    {
     "sha": "@NODE2_PKSHA@",
     "internal_ip": "192.168.130.11"
    }
}